# C configuration file
# By R. Coleman
#
# Artifact type
pretty.artefact block

# Measure is "boxes" (for box or reticular cell) counting or "mass" (for mass radius)
pretty.measure boxes
# C keywords
pretty.keyword auto
pretty.keyword break
pretty.keyword bool
pretty.keyword case
pretty.keyword char
pretty.keyword const
pretty.keyword continue
pretty.keyword default
pretty.keyword do
pretty.keyword double
pretty.keyword else
pretty.keyword enum
pretty.keyword extern
pretty.keyword float
pretty.keyword for
pretty.keyword goto
pretty.keyword if
pretty.keyword int
pretty.keyword long
pretty.keyword register
pretty.keyword return
pretty.keyword short
pretty.keyword signed
pretty.keyword sizeof
pretty.keyword static
pretty.keyword struct
pretty.keyword switch
pretty.keyword typedef
pretty.keyword union
pretty.keyword unsigned
pretty.keyword void
pretty.keyword volatile
pretty.keyword while
pretty.keyword true
pretty.keyword false
# Compiler directives
pretty.keyword define
pretty.keyword include
pretty.keyword ifdef
pretty.keyword ifndef
pretty.keyword endif
pretty.keyword elif
pretty.keyword undef
pretty.keyword warning
pretty.keyword line
pretty.keyword pragma
# C-library symbols
pretty.keyword NULL
pretty.keyword size_t
pretty.keyword printf
pretty.keyword sprintf
pretty.keyword fprintf
pretty.keyword open
pretty.keyword close
pretty.keyword fopen
pretty.keyword fclose
pretty.keyword fputs
pretty.keyword fgets
pretty.keyword stdout
pretty.keyword stdin
pretty.keyword stderr
pretty.keyword free
pretty.keyword malloc
pretty.keyword main
# C delimiters (as a regex)
pretty.delimiters [\s\\}\{\]\[*\-+\|/\?\.><=%\$#!\^&)(,:;]
# Miscellaneous
pretty.keyword argc
pretty.keyword argv